<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title> 
  @if(manifest && manifest['www/main.js'].css)
  <link rel="stylesheet" href="/{{ manifest['www/main.js'].css }}" />
  @endif
</head>
<body>
  <div id="app"></div>
  @if(!manifest)
  <script type="module" src="http://localhost:3000/@vite/client"></script>
  <script type="module" src="http://localhost:3000/www/main.js"></script>
  @else  
  <script type="module" src="/{{ manifest['www/main.js'].file }}"></script>
  @endif
</body>
</html>
